<div class = "row">
    <div class="span8">
        <select
            ng-model="p1"
            ng-options="player for player in players"
            >
        </select>  

        vs.
        <select
            ng-model="p2"
            ng-options="player for player in players"
            >
        </select> 
    </div>

    <div class="span4">
        Day: 
        <select
            ng-model="day_stats"
            ng-options="day for day in days"
            >
        </select>  
    </div>
</div>

<div class="row-fluid">
    <div class="span3">
        Win breakdown for {{gamecount}} games: <br>
        <canvas id="winPieChart" width="200" height="200"></canvas>  <br><br>
    </div>

    <div class="span3">
        Point breakdown for {{pointcount}} points: <br>
        <canvas id="pointPieChart" width="200" height="200"></canvas> <br>
    </div>
    <div class="span3">
        {{day_stats}} wins: {{day_win_count}}<br>
        <canvas id="dayWinPieChart" width="200" height="200"></canvas>  <br><br>
    </div>

    <div class="span3">
        {{day_stats}} points: {{day_point_count}} <br>
        <canvas id="dayPointPieChart" width="200" height="200"></canvas> <br>
    </div>
</div>

<div class="row">
    <div class="span6">
        Game wins over time: 
        <div id="gameWinsLineLegend"></div><br>
        <canvas id="gameWinsLineChart" width="450" height="450"></canvas> <br>
    </div>

    <div class="span6">
        Game: 
        <select
            ng-model="gamedate"
            ng-options="date for date in gamedates"
            >
        </select>

        <div id="gameLineLegend"></div><br>
        <canvas id="gameLineChart" width="450" height="450"></canvas> <br>
    </div>
</div>
